<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>b71c1c</string>
	<string>c62828</string>
	<string>d32f2f</string>
	<string>e53935</string>
	<string>f44336</string>
	<string>880e4f</string>
	<string>ad1457</string>
	<string>c2185b</string>
	<string>d81b60</string>
	<string>e91e63</string>
	<string>4a148c</string>
	<string>6a1b9a</string>
	<string>7b1fa2</string>
	<string>8e24aa</string>
	<string>9c27b0</string>
	<string>311b92</string>
	<string>4527a0</string>
	<string>512da8</string>
	<string>5e35b1</string>
	<string>673ab7</string>
	<string>1a237e</string>
	<string>283593</string>
	<string>303f9f</string>
	<string>3949ab</string>
	<string>3f51b5</string>
	<string>0d47a1</string>
	<string>1565c0</string>
	<string>1976d2</string>
	<string>1e88e5</string>
	<string>2196f3</string>
	<string>01579b</string>
	<string>0277bd</string>
	<string>0288d1</string>
	<string>039be5</string>
	<string>03a9f4</string>
	<string>006064</string>
	<string>00838f</string>
	<string>0097a7</string>
	<string>00acc1</string>
	<string>00bcd4</string>
	<string>004d40</string>
	<string>00695c</string>
	<string>00796b</string>
	<string>00897b</string>
	<string>009688</string>
	<string>1b5e20</string>
	<string>2e7d32</string>
	<string>388e3c</string>
	<string>43a047</string>
	<string>4caf50</string>
	<string>33691e</string>
	<string>558b2f</string>
	<string>689f38</string>
	<string>7cb342</string>
	<string>8bc34a</string>
	<string>827717</string>
	<string>9e9d24</string>
	<string>afb42b</string>
	<string>c0ca33</string>
	<string>cddc39</string>
	<string>f57f17</string>
	<string>f9a825</string>
	<string>fbc02d</string>
	<string>fdd835</string>
	<string>ffeb3b</string>
	<string>ff6f00</string>
	<string>ff8f00</string>
	<string>ffa000</string>
	<string>ffb300</string>
	<string>ffc107</string>
	<string>e65100</string>
	<string>ef6c00</string>
	<string>f57c00</string>
	<string>fb8c00</string>
	<string>ff9800</string>
	<string>bf360c</string>
	<string>d84315</string>
	<string>e64a19</string>
	<string>f4511e</string>
	<string>ff5722</string>
	<string>212121</string>
	<string>424242 </string>
	<string>616161 </string>
	<string>757575</string>
	<string>9E9E9E</string>
	<string>BDBDBD</string>
</array>
</plist>
